.reserve-main-content{
	top: 500px;
	height: 680px;
	width: 100%;
	box-sizing: border-box;
	background-color: #ff9933;
	margin-top: 300px;
	z-index: 100;
}

.reserve-main-content .gap{
	height: 20px;
}

.poster .wrapper{
	overflow: auto;
	white-space: nowrap;
	background-color: #0d0d0d;
	box-sizing: border-box;
}

.poster .wrapper:ebkit-scrollbar{
	width: 10px;
	z-index: 110;
}

.poster .wrapper:ebkit-scrollbar-thumb:hover{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	background-color: #333333;
}

.poster{
	overflow: hidden;
	white-space: nowrap;
	background-color: black;
	box-sizing: border-box;
	background-color: black;
}

.poster .wrapper .myimg{
	display: inline-block;
	height: 400px;
	position: relative;
}

.poster .prev, .next{
	cursor: pointer;
	position: absolute;
	top: 750px;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	/*transition: 0.2s ease;*/
	border-radius: 0 3px 3px 0;
}

.poster .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.poster .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*overlay for popup window*/
#overlay{
	width: 100%;
	transition: 0.6s;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #282b2c;
	z-index: 104;
	opacity: 0;
}

#overlay.visible{
	opacity: 0.8;
	height: 100%;
}

#helper{
	width: 100%;
	transition: 0.6s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 104;
	opacity: 0;
}

#helper.visible{
	height: 100%;
}

.reservation{
	display: table;
	text-align: center;
	border-collapse: separate;
	border-spacing: 50px;
 	margin-top: 30px;
 	width: 80%;
 	margin: 0 auto;
 	padding-left: 20px;
 	padding-right: 20px;
 	box-sizing: border-box;
 	z-index: 101;
 }

.reservation .function{
	display: table-cell;
	border: 3px solid #fff5e6;
	border-radius: 10px;
	width: 25%;
	height: 120px;
	vertical-align: middle;
	text-align: center;
}

.reservation .function .info, .res, .more{
	color: #fff5e6;
	font-size: 20px;
	text-decoration: none;
}

.reservation .function .info label, .res label{
	display: block;
}

.function:hover{
	border: 3px solid rgba(255,245,230, 0.6);
}

.reservation .function .info:hover, .res:hover {
	opacity: 0.6;
}

.reservation .function #currentRes{
 	width: 800px;
 	height: 500px;
 	position: absolute;
 	background-color: #ffffff; 
 	border-radius: 5px;
 	z-index: 105;
 	top: 498px;
 	left: 300px;
 	border: 1px solid #e6e6e6;
 	box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.2);
 	visibility: hidden;
 	/*transition: 0.4s;*/
 }

 @media (max-width: 1500px){
 	.reservation .function #currentRes{
 		left: 50px;
 	}	
 }

.reservation .function #currentRes::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    border-width: 8px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.reservation .function #currentRes #resInfo{
	margin-top: 30px;
	margin-left: 10px;
	text-align: left;
	box-sizing: border-box;
	margin-right: 10px;
}


.reservation .function #currentRes .close{
	margin-top: 20px;
	margin-right: 20px;
}

.reservation .function #currentRes #resInfo h2{
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 2px;
}

.reservation .function #currentRes #resInfo #openInfo{
	/*border: 1px solid #e6e6e6;*/
	width: 360px;
	height: 300px;
	float: left;
	/*display: inline;*/
	margin: 0 auto;
}

.reservation .function #currentRes #resInfo #openInfo #contact{
	margin-top: 50px;

}

.reservation .function #currentRes #resInfo #openInfo p{
	margin-bottom: 2px;
}

.reservation .function #currentRes #resInfo #openInfo .subtitle{
	font-weight: bold;
}

.reservation .function #currentRes #resInfo #openInfo table{
	width: 360px;
	margin-top: 5px;	
}

.reservation .function #currentRes #resInfo #openInfo table tr{
	width: 70px;
	border-collapse: collapse;
}



.reservation .function #currentRes #resInfo #addressMap{
	margin-top: 10px;
	float: left;
	width: 45%;
	height: 300px;
}

/*---------------------
  reservation section
---------------------*/

.reservation .function #booking{
 	width: 800px;
 	height: 550px;
 	position: absolute;
 	top: 45%;
 	left: 30%;
 	background-color: #ffffff; 
 	border-radius: 5px;
 	z-index: 105;
 	border: 1px solid #e6e6e6;
 	box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.2);
 	padding-top: 10px;
 	visibility: hidden;
}

@media (max-width: 1400px){
	.reservation .function #booking{
		top: 60%;
	}
}

.reservation .function #booking h3{
	text-align: center;
	color: #879092;
}


.reservation .function #booking #bookingClose{
	float: right;
	margin-right: 20px;
	font-size: 1.5em;
	font-weight: bold;
	opacity: 0.5;
	cursor: pointer;
}

.reservation .function #booking #returnMsg{
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	visibility: hidden;
}

.reservation .function #booking #postForReserve{
	height: 200px;
	visibility: hidden;
}

.reservation .function #booking #postForReserve.visible{
	height: auto;
}

.reservation .function #booking #bookingClose:hover{
	opacity: 1;
}

.reservation .function #booking reserve-info{
	display: block;
}

.reservation .function #booking div{
	text-align: left;
	margin-left: 15px;
	margin-top: 25px;
}

.reservation .function #booking div input[type=text]{
	width: 80%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	resize: vertical;
	display: block;
}

.reservation .function #booking select{
	width: 27.8%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 10px 20px 5px 10px;
	
	resize: vertical;
}

.reservation .function #booking #sub{
	margin-left: 0px;
}

.reservation .function #booking #sub input[type=submit] {
	margin-top: 30px;
	background-color: #ff9933;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 0px;
	margin-right: 10px;
}

.reservation .function #booking #sub input[type=button] {
	margin-top: 30px;
	background-color: #c9cdcf;
	color: #ffffff;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 0px;
	margin-right: 10px;
}

.reservation .function #booking #sub input[type=submit]:hover {
    background-color: #ff8000;
}

.reservation .function #booking #sub input[type=button]:hover {
    background-color: #a1a8aa;
}


footer{
	background-color: #ff9933;
	border-top: 4px solid #fff5e6;
	padding-right: 10px;
	color: #fff5e6;
}


 .reservation .function .visible{
	visibility: visible;
}
